<div class="text-center" id="no-steam-error">
  <%= image_tag 'frown.png', class: 'frown-image' %>
  <br>
  <span id="no-steam-error-message">No connection to Steam could be made.</span>
  <p id="no-steam-error-subtext">Please try again in a few minutes.</p>
</div>
