<div class="text-center" id="private-profile-error">
  <%= image_tag 'frown.png', class: 'frown-image' %>
  <br>
  <span id="private-profile-error-message">Failed to retrieve stats.</span>
  <p id="private-profile-error-subtext">Please make sure your Steam profile is set to public.</p>
</div>
