#profile-header-box {
  min-width: 400px;
  height: 100px;
  background-color: #333333;
  border-radius: 25px;
  border: 2px solid #FFFFFF;
}

#profile-stats-box {
  width: 800px;
  min-height: 200px;
  background-color: #333333;
  border-radius: 25px;
  border: 2px solid #FFFFFF;
}
