#no-steam-error {

}

#no-steam-error-message {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

#no-steam-error-subtext {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
