.avatar {
  width: 40px;
  height: 40px;
  margin-left: 7px;
  margin-right: 1px;
  margin-bottom: 2px;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  position: relative;
}

.leaderboard-image{
  border: 2px solid #660000;
  border-radius: 10px;
}

.frown-image {
  margin-bottom: 10px;
  margin-left: 20px;
}

.profile-avatar {
  display: inline-block;
  bottom: 65px;
  left: 15px;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  position: relative;
  float: left;
}

.gauntlet-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

.machinegun-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

.shotgun-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

.grenade-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

.rocket-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

.lightning-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

.railgun-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

.plasma-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

.hmg-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

.bfg-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

.nailgun-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

.chaingun-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

.proxmine-icon {
  display: inline-block;
  right: 5px;
  bottom: 5px;
  position: relative;
}

#firstfrag-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#humiliation-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#excellent-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#revenge-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#combo-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#midair-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#perforated-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#rampage-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#impressive-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#capture-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#assist-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#defense-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#headshot-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#quadgod-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#perfect-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}

#accuracy-medal {
  border-radius: 30px;
  border: 2px solid #FFFFFF;
}
