#steampowered {
  color: #cccccc;
  font-size: 12px;
}

#steampowered:hover {
  color: #999999;
}

#profile-link {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#logout-link {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
