.leaderboard-list-item-lower {

}

#kd-leaderboard-list {
  list-style-type: decimal;
  list-style-position: inside;
  max-width: 495px;
}

#kd-leaderboard-list h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  display: inline;
}

#kd-leaderboard-list h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  float: right;
  bottom: 9px;
  position: relative;
}

#kd-leaderboard-list h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  opacity: 0.6;
}

#kd-leaderboard-list li {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  color: #FFFFFF;
  border-radius: 23px;
}

#kd-leaderboard-list li img {

}


#kd-leaderboard-list li:hover {
  background: #707070;
  cursor: pointer;
}




#wl-leaderboard-list {
  list-style-type: decimal;
  list-style-position: inside;
  max-width: 495px;
}

#wl-leaderboard-list h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  display: inline;
}

#wl-leaderboard-list h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  float: right;
  bottom: 9px;
  position: relative;
}

#wl-leaderboard-list h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  opacity: 0.6;
}

#wl-leaderboard-list li {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  color: #FFFFFF;
  border-radius: 23px;
}

#wl-leaderboard-list li img {

}

#wl-leaderboard-list li:hover {
  background: #707070;
  cursor: default;
}
