#firstfrag-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#humiliation-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#excellent-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#revenge-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#combo-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#midair-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#perforated-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#rampage-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#impressive-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#capture-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#assist-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#defense-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#headshot-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#quadgod-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#perfect-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}

#accuracy-medal-container {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
}
