#gauntlet-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#machinegun-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#shotgun-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#grenade-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#rocket-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#lightning-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#railgun-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#plasma-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#hmg-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#bfg-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#nailgun-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#chaingun-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

#proxmine-stats {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
