#credit {
  font-size: 12px;
  color: #cccccc;
  padding-left: 10px;
}

#profile-total-kills {
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#profile-total-deaths {
  font-size: 30px;
  padding-left: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#profile-wins {
  font-size: 30px;
  padding-left: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#profile-losses {
  font-size: 30px;
  padding-left: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#profile-matches-played {
  font-size: 30px;
  padding-left: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#firstfrag-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  display: block;
}

#humiliation-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#excellent-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#revenge-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#combo-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#midair-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#perforated-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#rampage-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#impressive-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#capture-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#assist-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#defense-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#headshot-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#quadgod-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#perfect-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#accuracy-medal-count {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}


#no-stats {
  font-size: 50px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}
