<div class="row">
  <div class="small-6 small-centered columns" id="profile-header-box">
      <h2 class="text-center" id="profile-header"><%= @nickname %>'s Stats</h2>
      <%= image_tag session[:user]["image"], class: 'profile-avatar' %>
  </div>
</div>

</br>

<div class="row">
  <div class="small-6 small-centered columns" id="profile-stats-box">

  </div>
</div>
